<!-- This file is used for the profile page -->
<div class =  "bookInfo">
				<h1>Profile/Bio:</h1>  

<% if @user.avatar.present? %>		
<%= image_tag @user.avatar %>
<% end %>

<% if @user.twitter_handle.present? %>	
	<% if @user.twitter_handle.include? ("@") %>
	<h4><%=  "Twitter Handle: " + @user.twitter_handle %></h4>

	<% else %>
	
	<h4><%=  "Twitter Handle: @" + @user.twitter_handle %></h4>
	<% end %>

<% end %>


<h2> <%= @user.name %></h2>
<% if @user.author_bio.present? %>

	 <h4><%= @user.author_bio %></h4>

<% else %>

	 <h4><%= @user.reviewer_bio %></h4>

<% end %>

</div>

<br>
<div class =  "bookInfo">


<% if @user.books.present? %>
	<h3>Books by  <%= @user.name %> </h3><br>

	    <div class = "row">

		<% @user.books.each do |book| %>
			<div class="col-md-2">
			<a href="/books/<%= book.id %>">
				<%= image_tag book.book_imgage.url(:book_index), class: "booksizesmaller" %>
			</a>

			</div>
		<% end %>

<% end %>

<br>
<br>
</div>
<div class = "links btn-group">


<%= link_to 'Back', url_for(:back) %>

</div>

<br><br>









