<!-- This file is used for the profile page -->

<%= render 'books/leftcolumn' %>

<div class = "padding-on-left">

<div class =  "bookInfo">
				<h1>Profile/Bio:</h1>  
<br>

<%# start of pic and bio info %>
	<table>
		<tr>
			<td class="td_padding">
				<% if @user.avatar.present? %>		
				<%= image_tag @user.avatar, class:"avatar-pic"%>
				<% end %>

				<%# twitter handle link %>
				<% if @user.twitter_handle.present? %>	
						<% if @user.twitter_handle.include? ("@") %>
								<h4><a class="twitter-follow-button"
								href="https://twitter.com/<%= @user.twitter_handle%>" target="_blank">
								<%= "Twitter: " + @user.twitter_handle %></a></h4>
						<% else %>
								<h4><a class="twitter-follow-button"
								href="https://twitter.com/<%= @user.twitter_handle%>" target="_blank">
								<%= "Twitter: @" + @user.twitter_handle %></a></h4>
						<% end %>
				<% end %>
			</td>

			<td class="td_padding td_bottom_pad">
				<h2> <%= @user.name %></h2>
				<% if @user.author_bio.present? %>

					<h4><%= @user.author_bio %></h4>

				<% else %>

					<h4><%= @user.reviewer_bio %></h4>

				<% end %>
			</td>
		
		</tr>
	</table>
</div>
<br>
<div class =  "bookInfo">


<% if @user.books.present? %>
	<h3>Books by  <%= @user.name %> </h3><br>

	    <div class = "row">
		<% @user.books.order("created_at desc").each do |book| %>
			<div class="col-md-3">
			<a href="/books/<%= book.id %>">
				<%= image_tag book.book_imgage.url(:book_index), class: "booksizesmaller" %>
			</a>

			</div>
		<% end %>

<% end %>

<br>
<br>
</div>
<div class = "links btn-group">


<%= link_to 'Back', url_for(:back) %>

</div>
</div>
<br><br>









