 <%= simple_form_for @book, :html => {:multipart => true} do |f| %>
	<br>
 	<h4><b>Select a Book Genre:</b></h4>
 <%= select_tag(:genre_id, options_for_select(@genres), :prompt => "Selecet a Genre", :class => "col-md-4 form-for") %>

 <p><p>
 	<br>
 	<br>
 	<h4><b>Add the Book Image:</b></h4>
 	<%= f.file_field :book_imgage,  :class => "col-md-4 form-for"%>
 	<br>
 	<br>
 	<%= f.input :titleLstring, label: "Title" %>
 	<%= f.input :details, label: "Description" %> 
 	<%= f.input :author, label: "Authors Name" %> 
	<%= f.input :amazon_link, label: "Add the Amazon link for your book to get more visibility and sales." %>
 	<%= f.input :ebookprice,  label: "Amazon Ebook Price" %> 
 	<%= f.input :bookprice,  label: "Amazon Print Price"%> 
 	<%= f.button :submit, :class => "btn-custom2" %>

 	  <% end %>
 	<br>
 	<%= link_to "Back", root_path %>
 
 
 
 
 
 