<div class = "row">

<div class = "">  
			<div class = "commentswrapper">
			<!-- <h2 class = "posttitle"><%= @book.titleLstring %></h2> -->


			

			
				
			<% if @book.reviews.count == 1 %>
			  <% @reviewPlOrSing = 'review' %>
			 <% else %>
			 <% @reviewPlOrSing = 'reviews' %>
			 <% end %>

				
			<p><p>
			<span class = "postdesc"><%= @book.details %></span>
			</div>
			<div><p><p><p><p></div>



   <div class  = "postimagewrapper">

		<%= image_tag @book.book_imgage.url(:book_show), class: "postdisplaysize" %>
   </div>

	
			  
				<!-- <div class =  "bookInfo"> -->
				<!-- <h4><b>Amazon Link: 
				<% if @book.amazon_link.present? %>

					<% if @book.author ==  "Michael Compton" %>
							<% bookUrl = @book.amazon_link %>
						
						<% else %>

						<% s = @book.amazon_link %>
						<% s1a = s.split('dp/')[-1] %>
						<% s1 = s1a.split('?psc=1')[-1] %>
						<% s2 = s1.split("/")[0] %>
						
						<% bookUrl = "http://www.amazon.com/dp/#{s2}/?tag=ebookleaders1-20" %>
						
						
					<% end %> -->
						
					<!-- 	<%= link_to  "  Get a copy from Amazon", bookUrl , target: :_blank %></b></h2> -->

				<% end %>  

				</br>
			
				</div>

			


	</div>

	

<div class = "row">
			<div class = "">
			  			
			  			<!-- <div class =  "bookInfo">
			  				<div class = "links btn-group">
			  				<h3> Reviewer or Author? </br>
			  					 <%= link_to "Add A Post", new_book_path, class: "btn btn-custom" %> &nbsp; &nbsp;
			  					 <!--  <%= link_to "Add Your Bio", edit_user_registration_path, class: "btn btn-custom" %> </h3></div> -->
			  			</div> -->


				<div class ="commentswrapper"> 



					<h3>Comments</h3>
					<%= render @book.reviews %>
					
					
					
					<br/>
				</div>


</div>
					<div class = "">
						<%= link_to "Add Comment", new_book_review_path(@book), class: "btn btn-custom" %> 

					</div>
				</br></br>	
			



		
		<div class = "links btn-group">
		

		<%= link_to 'Back', url_for(:back), class: "btn btn-custom" %>

		

			
			<% if can? :update, @book %>
				<%= link_to "Edit Post", edit_book_path(@book), class: "btn btn-custom"%>
			<% end %>
			 
			<% if can? :destroy, @book %>
				<%= link_to "Delete Post", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>
			<% end %>

			
		</div>	
<p><br>		







