<div class = "row">
   <div class  = "col-md-4">

		<%= image_tag @book.book_imgage.url(:book_show), class: "bookdisplaysize" %>
   </div>

	<div class = "col-md-8">  
			<div class = "bookInfo">
			<h2 class = "bookTitle"><%= @book.titleLstring %></h2>	
			<h3 class = "bookAuthor"><span>From: </span><%= @book.author %></h3>
			<% if 	@book.genre.present? %>
			<h4>Genre: <%= @book.genre.name %></h4>
			<% end %>  
			<h2>Average Rating:  </h2>
			<div class = "average_review_rating" data-score= "<%= @average_review %>"></div> 
			<% if @book.reviews.count == 1 %>
			  <% @reviewPlOrSing = 'review' %>
			 <% else %>
			 <% @reviewPlOrSing = 'reviews' %>
			 <% end %>

			<span class = "number-of-reviews">Based on <%= @book.reviews.count  %> <%= @reviewPlOrSing %></span>
			<p><p>
			<%= @book.details %>
			</div>
			<div><p><p><p><p></div>
			  
			<div class = "bookInfo">
			<h4>Amazon Link:   
			<% if @book.amazon_link.present? %>

			<% s = @book.amazon_link %>

			<% s1 = s.split('dp/')[-1] %>
			<% s2 = s1.split("/")[0] %>

			<% bookUrl = "http://www.amazon.com/dp/#{s2}/?tag=ebookleaders1-20" %>


			<%= link_to  "  Buy this book on Amazon", bookUrl , target: :_blank %></h2>
			<% end %>
			</div>
	</div>

	</div>



<div class = "row">
			<div class = "col-md-4">

				<div class ="reviews"> 


					<h1>Reviews</h1>

					<%= render @book.reviews %>


					<div class = "links btn-group">
						<%= link_to "Add Reveiw", new_book_review_path(@book), class: "btn btn-custom" %> 
					</div>
				</div>
			</div>



		
		<div class = "links btn-group">


		<%= link_to "Back", root_path, class: "btn btn-custom" %>

			<% if user_signed_in? %>
			<% if @book.user_id == current_user.id %>

			<%= link_to "Edit Book", edit_book_path(@book), class: "btn btn-custom"%>
			<%= link_to "Delete Book", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>
			<% end %>
			<% end %>
		
		</div>	
<p><br>		
</div>		


<script type="text/javascript">
 $('.review-rating').raty({
 	readOnly: true,
 	score: function(){
 		return $(this).attr('data-score')
 	},
 	path: '/images/ratyrate'
 });

</script>


<script type="text/javascript">
 $('.average_review_rating').raty({
 	readOnly: true,
 	path: '/images/ratyrate',
 	score: function(){
 		return $(this).attr('data-score')
 	}
 	
 });

</script>




