
<% if  review.user.author_bio.present? %>
			
		<h4><b><%= link_to "#{review.user.name}", user_path(review.user_id) %></b></h4>


<% elsif review.user.reviewer_bio.present? %>

	<h4><b><%= link_to "#{review.user.name}", user_path(review.user_id) %></b></h4> 
		
<% else %>

	<h4><b><%= review.user.name %></b></h4>

<% end %>

<div class = "review">
	<div class = "review-rating" data-score = "<%= review.rating %>"></div>
		<p class = "review-comment"><%= review.comment %></p>
		<% if user_signed_in? %>
				<% if review.user_id == current_user.id %>
		<div>

		
			<div class = "links btn-group">		
				<%= link_to "Edit Reveiw", edit_book_review_path(review.book, review), class: "btn btn-custom" %>
				<div>
				<%= link_to "Delete Review", book_review_path(review.book, review), method: :delete, data: {confirm: "Are you sure?"} %>
					
				</div>
		 
		 	</div>

		</div>

</div>
		<% end %>
	<% end %>	