<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>BookClubPro Books uploaded by Authors</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class= "navbar navbar-default"> 
    <div class= "container">
      <div class = "navbar-header"> 
        <%= link_to root_path do %>
       <div class = "navbar-header navbar-logo"> <%= image_tag('BookClubProLogoY3.png', size: "344x55") %>
        <% end %>
       </div>
     <!--  <%= link_to   "Book", root_path, class: "navbar-brand yellow"  %>
      <%= link_to   "Club", root_path, class: "navbar-brand"  %> 
      <%= link_to   "Pro", root_path, class: "navbar-brand yellow"  %> -->

      
     
      </div>
      <ul class = "nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %> </li>
        <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
         <% else %>
         <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "All Books", root_path %></li>
        <li class = "dropdown">
         <a href="#" class = "dropdown-toggle" data-toggle= "dropdown" role = "button" aria-expanded= "false">Categories<span class= "caret"></span></a> <ul class = "dropdown-menu" role = "menu">
         <% Genre.order("name").each do |genre| %>
         <li class= "<%= 'active' if params[:genre] == genre.name %>"><%= link_to genre.name, books_path(genre: genre.name), class: "link" %> </li>
         <% end %>
       </ul>
        </li>



       
          <li><%= link_to "Add Your Book", new_book_path %></li>
        <% if user_signed_in? %> 





            <li><%= link_to "Edit Profile", edit_user_registration_path %></li> 

        <% end %>


        
      </ul>



      </div>

        <!--   <div class = "links btn-group r-padding">
           
            <% if current_user.try(:admin?) %> 
                <%= link_to "Add Author Books", new_book_path, class: "btn btn-custom" %>

          <% elsif current_user.try(:book_promoter_role?) %> 
                <%= link_to "Add Author Books", new_book_path, class: "btn btn-custom" %>
            <% end %>
           
         </div> -->

    </div>

  </nav>




  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class = "container">
    <%= yield %>
  </div>
  </body>
</html>
